

.landing-carousel-1{
    display: block;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url("../public/resources/c1.png");
    background-repeat: no-repeat;
    padding: 5px;
}
.landing-carousel-2{
    display: block;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url("../public/resources/c2.png");
    background-repeat: no-repeat;
    padding: 5px;
}
.landing-carousel-3{
    width: inherit;
    height: 574px;
    background-image: url("../public/resources/c3.png");
    padding: 5px;
}

.carousel-content{
    color: white;
    background-color: black;
}

.carousel-content-dark{
    color: white;
}


.landingBody{
    width: inherit;
    height: 1000px;
    border: 1px solid #000000;
    fill: #06064b;
    padding: 5px;
}

.accordion-button{
    background-color: #06064b !important;
    color: white !important;
}

.accordion-button:hover{
    background-color: gray !important;
    color: cyan !important;
}