

.landing-carousel-1{
    display: block;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url("../public/resources/c1.png");
    background-repeat: no-repeat;
    padding: 5px;
}
.landing-carousel-2{
    display: block;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url("../public/resources/c2.png");
    background-repeat: no-repeat;
    padding: 5px;
}
.landing-carousel-3{
    width: inherit;
    height: 574px;
    background-image: url("../public/resources/c3.png");
    padding: 5px;
}

.carousel-content{
    color: white;
    background-color: black;
}

.carousel-content-dark{
    color: white;
}


.landingBody{
    width: inherit;
    border: 1px solid #000000;
    fill: #06064b;
    padding: 5px;
    background-color: rgba(0,0,0,0.10)
}

.landingBody h1{
    margin-left: 1%;
}

.landingBody p{
    margin-left: 1%;
}

.accordion-button{
    background-color: #06064b !important;
    color: white !important;
}

.accordion-button:hover{
    background-color: gray !important;
    color: cyan !important;
}

.enquiry-form{
    border: solid 1px black;
    background-color: rgba(223, 230, 249, 1);
    width: 60%;
    margin-left: 1%;
    margin-right: auto;
    margin-bottom: 10%;
}

.enquiry-form-content{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.enquiry-form-header {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(16, 43, 112, 1);
    color: white;
}

.enquiry-form-header h1{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.enquiry-form-comment-section {
    display: block;
    width: 60%;
    height: 100px;
    margin-left: 10%;
    margin-right: auto;
    color: black;
}

.enquiry-form-comment-section-label {
    display: block;
    width: 60%;
    margin-left: 10%;
    margin-right: auto;
    color: black;
}

.enquiry-form-submit-button {
    display: block;
    margin-left: 10%;
    margin-right: auto;
    color: black;
    margin-bottom: 10%;
}