.blueBackground {
    background-color: #111D4A;
}

.whiteBackground {
    background-color: #FFFFFF;
}
.greyBackground {
    background-color: #c5c1c1
}
.whiteText {
    color: #FFFFFF;
}
.accentText {
    color: #EDB116;
}
