.blueBackground {
  background-color: #111d4a;
}

.whiteBackground {
  background-color: #ffffff;
}
.greyBackground {
  background-color: #f3f3f3;
}
.whiteText {
  color: #ffffff;
}
.accentText {
  color: #edb116;
}

.redColor {
  color: rgb(163, 2, 2);
}

.redBackground {
  background-color: rgb(163, 2, 2);
}
