.whiteText {
  color: #ffffff;
}

.accentText {
  color: #edb116;
}

.darkLink {
  color: black;
  text-decoration: underline;
}

.darkLink:hover {
  color: #edb116;
  cursor: pointer;
}

.verticalLine {
  height: 60px;
  width: 1px;
  background-color: white;
}
